@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "OldNewspaperTypes";
    src: url("https://fonts.cdnfonts.com/css/old-newspaper-types")
      format("woff2");
  }
}

.newspaper-texture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
      transparent,
      transparent 2px,
      rgba(0, 0, 0, 0.03) 3px,
      rgba(0, 0, 0, 0.03) 3px
    ),
    repeating-radial-gradient(
      circle at 50% 50%,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 10px,
      rgba(0, 0, 0, 0.05) 11px,
      rgba(0, 0, 0, 0.05) 12px
    );
  pointer-events: none;
}

.vintage-border {
  position: relative;
}

.vintage-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.vintage-shadow {
  background-image: url("/public/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
}
